.big-rr {
    background: white;
    padding: 10px;
    /* box-shadow: 1px 1px 3px 0px rgb(0 0 0 / 8%); */
}
.container {
    max-width: 1340px;
}

.de-counter {
    color: #fff;
    background: #d61448;
    text-align: center;
    border-radius: 22px;
    font-size: 10px;
    font-weight: 600;
    padding: 3px 9px;
    position: relative;
    margin: auto;
    margin-left: 20px;
    margin-right: 0;
}

p:last-child {
    margin-bottom: 0;
}
.lsls {
    text-align: justify;
    color: #d61448;
    font-size: 15px;
}

.mr-45 {
    margin-right: 20px;
}

.fnt-12px {
    font-size: 15px;
    font-weight: 600;
}

.pad2 {
    padding: 15px!important;
    box-shadow: 3px 2px 6px 3px #47474717, 6px 2px 3px 0 rgb(0 0 0 / 3%);
    border-radius: 15px;
}

.d-bb2 {
    display: flex;
    justify-content: space-between;
}

.mbs {
    margin-bottom: 1px!important;
    font-weight: 700;
    font-size: 18px;
    color: #d61448;
}

.gkg {
    color: #b8b8b8;
    font-size: 13px;
}
.offs {
    font-size: 13px;
    font-weight: 700;
    color: #d9cf6e;
}

.font-blk {
    font-size: 13px;
    color: black;
}
.mr-10 {
    margin-right: 30px!important;
}

.font-grn {
    font-size: 13px;
    color: #000000;
    font-weight: 700;
}

.fnt-15 {
    font-size: 15px;
}

.proaddtocartbtn {
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    padding: 4px 0px;
    background: #0e4d8d;
    z-index: 2;
    position: relative;
    width: 42px;
    text-align: center;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
    margin: auto;
    margin-right: 0;
    margin-left: 0;
}

.fnt-bold {
    font-weight: 700;
}